<div id="wrapper">
    <div class="top">
        <h1>Create Listing</h1>
        <div id="createContent">
            <form (submit)="onSubmit(bikeData.value)" #bikeData='ngForm'>
                <!-- form reset -->
            <!-- <form (submit)='onSubmit($event, bikeData)' #bikeData='ngForm'> -->
                <div class="topImage">
                    <label for="">Image Url: 
                        <input 
                        type="text" 
                        name="imageURL" 
                        required 
                        minlength="3" 
                        [(ngModel)]="bike.imageURL"
                        #imageURL='ngModel'
                        placeholder="ImageURL"
                        /></label><br>
                </div>
                <div class="topMiddle">
                    <label for="">Title: 
                        <input 
                        type="text" 
                        name="title" 
                        required 
                        minlength="3" 
                        maxlength="24"
                        [(ngModel)]="bike.title"
                        #title='ngModel'
                        placeholder="Title"
                        /></label><br>

                    <label for="">Description: <br>
                        <input 
                        class="description"
                        type="text" 
                        name="description" 
                        required 
                        minlength="3" 
                        maxlength="200"
                        [(ngModel)]="bike.description"
                        #description='ngModel'
                        placeholder="Description"
                        /></label><br>
                </div>
                <div class="topRight">
                    <label for="">Price: 
                        <input 
                        type="number" 
                        name="price" 
                        required 
                        min="1" 
                        [(ngModel)]="bike.price"
                        #price='ngModel'
                        placeholder="Price"
                        /></label><br>
                        
                    <label for="">Location: 
                        <input 
                        type="text" 
                        name="location" 
                        required 
                        minlength="3" 
                        maxlength="24"
                        [(ngModel)]="bike.location"
                        #location='ngModel'
                        placeholder="Location"
                        /></label><br>
                    
                    <div *ngIf="currentUserInfo" ng-hide="true">
                        <input 
                        type="hidden" 
                        name="userID"
                        value="{{currentUserInfo._id}}"
                        required 
                        minlength="3" 
                        maxlength="24"
                        [(ngModel)]="bike.userID"
                        #userID='ngModel'
                        placeholder="{{currentUserInfo._id}}"
                        /><br>
                    </div>

                <input [ngStyle]="{'color': 'white', 'background-color': 'green', 'width': '75px', 'height': '40px', 'margin': '5px'}" [disabled]="bikeData.invalid" type="submit" value="Create">
                </div>
            </form>
        </div>
    </div>
    <div class="bottom">
        <h1>Edit/Delete Listings</h1>
        <div class="bikesContainer" *ngFor="let bike of bikes">
            <div *ngIf="currentUserID === bike.userID" class="bikes"> 
                <form #bikeUpdate='ngForm' (submit)="onUpdate(bike._id, bikeUpdate.value)">
                    <div class="image">
                        <label for="">Image Url: 
                            <input 
                            type="text" 
                            name="imageURL" 
                            required 
                            minlength="3" 
                            [(ngModel)]="bike.imageURL"
                            #imageURL='ngModel'
                            placeholder="{{bike.imageURL}}"
                            /></label><br>
                        <img src="{{bike.imageURL}}" alt="">
                    </div>
                    <div class="middle">
                        <label for="">Title: 
                            <input 
                            type="text" 
                            name="title" 
                            required 
                            minlength="3" 
                            maxlength="24"
                            [(ngModel)]="bike.title"
                            #title='ngModel'
                            placeholder="{{bike.title}}"
                            /></label><br>

                        <label for="">Description: <br>
                            <input
                            class="description"
                            type="textbox" 
                            name="description" 
                            required 
                            minlength="3" 
                            maxlength="200"
                            [(ngModel)]="bike.description"
                            #description='ngModel'
                            placeholder="{{bike.description}}"
                            /></label><br>
                    </div>
                    <div class="right">
                        <label for="">Price: 
                            <input 
                            type="number" 
                            name="price" 
                            required 
                            min="1"
                            [(ngModel)]="bike.price"
                            #price='ngModel'
                            placeholder="{{bike.price}}"
                            /></label><br>
                            
                        <label for="">Location: 
                            <input 
                            type="text" 
                            name="location" 
                            required 
                            minlength="3" 
                            maxlength="24"
                            [(ngModel)]="bike.location"
                            #location='ngModel'
                            placeholder="{{bike.location}}"
                            /></label><br>
                        
                        <div *ngIf="currentUserInfo" ng-hide="true">
                            <input 
                            type="hidden" 
                            name="userID"
                            value="{{currentUserInfo._id}}"
                            required 
                            minlength="3" 
                            maxlength="24"
                            [(ngModel)]="bike.userID"
                            #userID='ngModel'
                            placeholder="{{currentUserInfo._id}}"
                            /><br>
                            <!-- showing how to do inline styling as well -->
                            <input [ngStyle]="{'color': 'white', 'background-color': 'green', 'width': '75px', 'height': '25px', 'margin': '5px'}" type="submit" value="Update">
                            <input (click)="delete(bike._id)" [ngStyle]="{'text-align': 'center', 'color': 'white', 'background-color': 'red', 'width': '75px', 'height': '25px', 'margin': '5px'}" value="Delete">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>