img{
    width: 150px;
    height: 150px;
    display: inline-block;
}
h1, p{
    margin: 0px;
}
.description{
    width: 50px;
    height: 100px;
}
.scroll{
    margin: 5px;
    background-color: white;
    border: 2px solid black;
    align-content: center;
    align-items: center;
    width: 575px;
}
.container{
    background-color: grey;
    width: 600px;
    padding: 15px;
}
.search{
    text-align: center;
}
.search label{
    display: inline-block;
    margin: 0px;
}
.search input{
    width: 400px;
    margin-left: 15px; 
    margin-right: 15px; 
}
.bikes{
    border: 2px solid black;
    margin: 5px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: grey;
}
.image, .middle, .right{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
.image{
    width: 150px;
}
.middle{
    width: 200px;
}
.right{
    width: 100px;
}
h2{
    margin: 0px;
}